@RenderPage("~/htmls/head.cshtml")
    <title>@ViewBag.Title</title>
    <script src="http://cdn.bootcss.com/jquery/1.8.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/jquery-validate/1.10.0/jquery.validate.min.js"></script>
    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)
</head>
<body>
    <!--导航条-->
    @RenderPage("~/htmls/nav.cshtml")
    @RenderBody()
    @RenderPage("~/htmls/foot.cshtml")
</body>
</html>